flow.md
*.pyc
*__pychache__*
*sociometry_output*
~$*
*.xlsx
names_to_hashes.txt
settings.json
Socio_and_Sagabz/pdf/input/*
Socio_and_Sagabz/pdf/output/*
Socio_and_Sagabz/pdf/input_new/*
Socio_and_Sagabz/pdf/word_input/*

tmp.docx